# 1. Pandas

In [ ]:
import pandas as pd                 # Importar o pandas com alias "pd"
import openpyxl                     # Necessário para trabalhar com excel e importar para usar
%%time                              # No começo de cada célula, mostra o tempo levado na execução do código contido nela
DataFrame.info(memory_usage='deep') # Exibe quantidade de memória utilizada pelo DataFrame
df.idade = df.idade.astype('str')   # Converte o valor do atributo idade, de float para string
pip install xlrd                    # Necessário para rodar arquivos .xlsm. Não necessário importar para usar
df.rename(columns={'nomeAntigoColuna1': "nomeNovoColuna1", {'nomeAntigoColuna2': "nomeNovoColuna2"}}) # Alterar nome de colunas
df.drop(columns=[])                 # Excluir colunas (passa-se uma lista)
df['col'] = ""                      # Criar coluna sem dados
df.sort_values('NOME').head(3)      # Classificar valores 
'''
--- Transformação de string ---
d ='1899-12-30T11:10:00.0000000' 
d = d[:19].replace('T', ' ')
dataConvertida = datetime.datetime.strptime(d, '%Y-%m-%d %H:%M:%S')
d
'''
df.drop(0)                          # Deleta o primeiro registro do dataframe
df.loc[5]                           # Seleciona o registro de índice 5, retorno é um Series
df.loc[[5]]                         # Seleciona o registro de índice 5, retorno é um DataFrame
df2 = df.set_index('matricula')     # Reindexa um DataFrame já existente e atribui a outro, usando o index informado (desta forma é possível o usar o ".loc" passando o nome desse index, ex: df.loc['Nome'])

# 2. Datetime

In [8]:
# Imports principais necessários para se trabalhar com datas
from datetime import date, datetime, timedelta

## 2.1 Dados fracionados

In [20]:
date.today()

datetime.date(2019, 9, 25)

In [27]:
date.today().day

25

In [15]:
date.today().month

9

In [16]:
date.today().year

2019

In [ ]:
datetime.today().day

In [21]:
datetime.today().month

9

In [22]:
datetime.today().year

2019

In [23]:
datetime.today().hour

11

In [24]:
datetime.today().minute

7

In [25]:
datetime.today().second

35

## 2.2 Criação de datas

In [30]:
data1 = datetime(2019, 12, 31, 23, 59, 59) # Formato padrão: YYY-mm-dd HH:MM:SS
str(data1)

'2019-12-31 23:59:59'

## 2.3 Conversão de datas

### 2.3.1 Referências para conversão

- "Jun 28 2018 at 7:40AM"        -> "%b %d %Y at %I:%M%p"
- "September 18, 2017, 22:19:55" -> "%B %d, %Y, %H:%M:%S"
- "Sun,05/12/99,12:30PM"         -> "%a,%d/%m/%y,%I:%M%p"
- "Mon, 21 March, 2015"          -> "%a, %d %B, %Y"
- "2018-03-12T10:12:45Z"         -> "%Y-%m-%dT%H:%M:%SZ"

### 2.3.2 Converter string para datetime

In [35]:
data_raw = '1900-12-31 23:59:59'
data_convertida = datetime.strptime(data_raw, '%Y-%m-%d %H:%M:%S') # strptime converte para objeto datetime, o que permite fazer operações entre datas (veja células sobre operações com datas)
data_convertida

datetime.datetime(1900, 12, 31, 23, 59, 59)

### 2.3.3 Converter datetime para String

In [67]:
hoje = datetime.today() # Equivalente a datetime.now()
str(hoje)

'2019-09-25 12:39:33.086421'

In [49]:
# Apenas data
hoje = datetime.today().date().strftime("%Y-%m-%d")
hoje

'2019-09-25'

In [53]:
# Apenas hora
hoje = datetime.today().time().strftime("%H:%M:%S")
hoje

'11:23:59'

### 2.3.4 Converter datetime para timestamp

In [118]:
hoje = datetime.now()
timestampExemplo = datetime.timestamp(hoje)
print(timestampExemplo)

1569434455.039323

### 2.3.5 Converter timestamp para datetime

In [9]:
timestamp = 1569434455.039323
dataConvertida = datetime.fromtimestamp(timestamp)
print(dataConvertida)

2019-09-25 15:00:55.039323

### 2.3.6 Conversão de string (apenas horas) para datetime

In [ ]:
d = '13:13'
dataConvertida = datetime.datetime.strptime(d, '%H:%M')
dataConvertida # Data assumida como padrão caso não passe: 1900/01/01

## 2.4 Operações com datas

### 2.4.1 Referências 

-  <font color=red>datetime</font> =  <font color=red>datetime</font>  -  <font color=green>timedelta</font>  (Lê-se: Operações entre  <font color=green>timedelta</font> e <font color=red>datetime</font> retornam um objeto <font color=red>datetime</font>)
-  <font color=green>timedelta</font> =  <font color=red>datetime</font> -  <font color=red>datetime</font>  (Lê-se: Operações entre <font color=red>datetime</font>  e <font color=red>datetime</font>  retornam um objeto <font color=green>timedelta</font>)

##### Tipos de retorno

- timestamp -> 1569434083.731344
- datetime  -> 2019-09-25 14:54:43.731344

### 2.4.2 Calcular tempo entre datas

In [98]:
hoje = datetime.today()   # Dia atual
print(type(hoje), str(hoje))

<class 'datetime.datetime'> 2019-09-25 13:40:59.470309

In [99]:
ontem = datetime.today() - timedelta(days=1) # Operação entre datetime e timedelta = datetime
print(type(ontem), str(ontem))

<class 'datetime.datetime'> 2019-09-24 13:41:00.093108

In [137]:
dia1 = datetime(2019,12,31,12,0,0)
dia2 = datetime(2019,12,30,0,0,0)
print(f'Tipo dia 1: {type(dia1)},  tipo dia 2: {type(dia2)}, \nDia 1: {str(dia1)},                Dia 2: {str(dia2)}')

Tipo dia 1: <class 'datetime.datetime'>,  tipo dia 2: <class 'datetime.datetime'>,
Dia 1: 2019-12-31 12:00:00,                Dia 2: 2019-12-30 00:00:00

In [138]:
dia1 - dia2

datetime.timedelta(days=1, seconds=43200)

In [103]:
diffDias = dia1 - dia2 # Operação entre datetime e datetime =  timedelta
print(type(diffDias), str(diffDias))

<class 'datetime.timedelta'> 1 day, 12:00:00

In [105]:
# Diferença apenas em segundos. Conversão em horas: Dividr por 3600
diffDias.seconds

43200

In [106]:
# Diferença apenas em dias
diffDias.days

1

## 2.5 Trabalhando com fusos horários com pytz

In [111]:
# Instale o pytz via pip
pip install pytz

Requirement already satisfied: pytz in c:\users\deivid.araujo\documents\python\venv\lib\site-packages (2019.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
frame[frame.isin([1.0,'pen'])]

color object price new
0 NaN NaN NaN NaN
1 NaN pen 1.0 1.0
2 NaN NaN NaN NaN
3 NaN NaN NaN NaN
4 NaN NaN NaN NaN

In [10]:
nestdict = { 'red': { 2012: 22, 2013: 33 },
 'white': { 2011: 13, 2012: 22, 2013: 16},
 'blue': {2011: 17, 2012: 27, 2013: 18}}

In [11]:
import pandas as pd
frame2 =pd.DataFrame(nestdict)
frame2

       red  white  blue
2012  22.0     22    27
2013  33.0     16    18
2011   NaN     13    17

In [12]:
frame2.T #transposição. Colunas viram linhas e linhas viram colunas

       2012  2013  2011
red    22.0  33.0   NaN
white  22.0  16.0  13.0
blue   27.0  18.0  17.0

In [13]:
frame2.index

Int64Index([2012, 2013, 2011], dtype='int64')

In [15]:
ser = pd.Series([2,5,7,4], index=['one','two','three','four']) 
ser

one      2
two      5
three    7
four     4
dtype: int64

In [16]:
ser.reindex(['three','four','five', 'one'])# Reindexing

three    7.0
four     4.0
five     NaN
one      2.0
dtype: float64

# sem categoria

In [6]:
# Formatar saída com zero padded string
n = '4'
print(n.zfill(3))

004

In [3]:
# Formatar saída com vários zeros na esquerda, onde o "5" depois do zero indica quantas casas decimais o número deve ter
n = 4
print(f'{n:05}')

00004

In [1]:
# usando a função zip() para iterar sobre duas listas ao mesmo tempo e exbir seus valores
letters = ['a', 'b', 'c']
numbers = [0, 1, 2]
for l, n in zip(letters, numbers):
     print(f'Letter: {l}')
     print(f'Number: {n}')

Letter: a
Number: 0
Letter: b
Number: 1
Letter: c
Number: 2

In [10]:
# usando zip() -> retorna tuplas 
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
zipped = zip(numbers, letters)
print(f"Tipo: {type(zipped)}, Lista de tuplas: {list(zipped)}")

Tipo: <class 'zip'>, Lista de tuplas: [(1, 'a'), (2, 'b'), (3, 'c')]

## Markdown

foo <font color='red'>bar</font>